@import url(https://cdn.jsdelivr.net/font-kopub/1.0/kopubdotum.css);
body {
	font-family: 'kopub Dotum' !important; 
	font-weight: 700 !important;
	margin-bottom: 50px;
}
#log > div {
  padding:2px !important;
  background: none !important;
}
.name {
  text-shadow: #000 0px 0px 1px,#000 0px 0px 1px,#000 0px 0px 1px, var(--color) 1px 1px 2px,var(--color) 1px 1px 2px,var(--color) 1px 1px 2px,var(--color) 1px 1px 2px !important;
  max-width:88px;
  overflow:hidden;
  word-wrap:normal;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.meta>img:nth-child(2) {
    display:none;
}
.meta>img:nth-child(3) {
    display:none;
}
.message {
    --shadow: #212121;
  display: inline;
  text-shadow: var(--shadow) 1px 1px 3px,var(--shadow) 1px 1px 3px,var(--shadow) 1px 1px 3px,var(--shadow) 1px 1px 3px,var(--shadow) 1px 1px 3px,var(--shadow) 1px 1px 3px !important;
  color: #ffffff;
}
.emote_wrap img {
  height:21px;
}
