.frame ins:nth-child(2) {
	margin-left: -20px;
	overflow-y: hidden; 
	/* 아이폰SE, 아이폰5S 에서 광고양옆 여백때문에 페이지가 제대로 표시되지않아 조절하였습니다. 트게더 관리자님 보신다면 양쪽여백 좀 없애주세요 */
}
header{
	padding: 0;
	background: none;
	height: 0;
	border: 0;
}
header.nav-up {
	top: 0;
}
header>#header-area>a>h1 {
	background-image: url(https://magether.github.io/images/magether_m1.png);
	background-size: 91px 32px;
	background-repeat: no-repeat;
}
header>#header-area>#header-search-link, header>#header-area>#header-bar-link {
	color: #272727;
}
header>#header-area {
	position: fixed;
	z-index: 3001;
	top: 0;
	left: 0;
	width: 92%;
	height: 45px;
	margin: 10px 4%;
	background: rgba(244, 240, 244, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
	padding: 5px 0;
	transform: perspective(1100px) translateY(0%) rotateX(0deg);
	transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
	transform-origin: 50% 100%;
}
header:before {
	content: '';
	display: block;
	position: fixed;
	z-index: 3005;
	top: 30px;
	left: 0;
	height: 65px;
	width: 100%;
	background-image: url(https://magether.github.io/images/magether_m2.png);
	background-size: 130px 65px;
	background-repeat: no-repeat;
	background-position: center top;
	transform: perspective(1100px) translateZ(10px) translateY(0) rotateX(-90deg);
	transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
	opacity: 0;
}
header:after {
	content: '';
	display: block;
	position: fixed;
	z-index: 3000;
	top: 45px;
	left: 0;
	background: linear-gradient(-45deg, #d695ed, #f0a7c3, #9ea3e3, #93efd9);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
	width: 92%;
	height: 45px;
	margin: 10px 4%;
	transform: perspective(1100px) translateY(0%) rotateX(-90deg);
	transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
	transform-origin: 50% 0%;
}
header.nav-up>#header-area {
	transform: perspective(1100px) translateY(-100%) rotateX(88deg);
	z-index: 3003;
}
header.nav-down>#header-area {
	transform: perspective(1100px) translateY(0%) rotateX(0deg);
}
header.nav-up:after {
	transform: perspective(1100px) translateY(-100%) rotateX(0deg);
	z-index: 3004;
}
header.nav-down:after {
	transform: perspective(1100px) translateY(0%) rotateX(-90deg);
}
header.nav-up:before {
	transform: perspective(1100px) translateZ(10px) translateY(-28px) rotateX(0deg);
	opacity: 1;
}
header.nav-down:before {
	transform: perspective(1100px) translateZ(10px) translateY(0) rotateX(-90deg);
	opacity: 0;
}
html, body {
    background: #ffffff;
}
body {
    padding-top: 60px;
}
#movetotop {
	height: 45px;
	width: 130px;
	top: 10px;
	left: 50%;
	margin: 0;
	margin-left: -65px;
	bottom: auto;
	right: auto;
	z-index: 3006;
}
#movetotop>img {
	display: none;
}
#nav {
	transition: all 300ms ease-in-out;
}
#nav>* {
	width: 300px;
}
#nav.hide {
	display:block !important;
	width: 0 !important;
}
#nav-overlay {
	opacity: 1;
	transition: opacity 150ms ease-in-out;
}
#nav-overlay.hide {
	display: block !important;
	width: 0;
	opacity: 0;
}
nav#nav>#nav-upper>#header-close-bar-link {
	padding: 11px 16px 8px;
}
nav#nav > #nav-upper #userDropdownContainer {
	margin-right: 0;
	margin-top: -4px;
}
nav#nav > #nav-upper #userDropdownContainer>a {
	font-size: 19px;
	height: 37px;
	line-height: 52px;
	padding-right: 11px;
}
nav#nav > #nav-upper #userDropdown img.profile-img {
	width: 56px;
	height: 56px;
	margin-right: -11px;
}
nav#nav > #nav-upper #noteDropdownContainer>a {
	font-size: 19px;
	height: 37px;
	line-height: 37px;
}
nav#nav>.nav-header {
	background: #e4e4e4;
	color: #717171;
	font-size: 17px;
	font-weight: 300;
	border-top: 1px solid #adadad;
	border-bottom: 2px solid #adadad;
}
nav#nav>.nav-header>a {
	color: #000;
	font-size: 17px;
	font-weight: 100;
}
#header-top-notice strong.notice-badge {
	background: #272727;
}
nav#nav > .nav-menu-area a:hover, nav#nav > .nav-menu-area a.active {
	color: #ffffff;
    background-color: #ff7777;
}
#nav .dropdown .dropdown-menu {
	display: block !important;
	background-color: #333333;
	transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	transform-origin: top left;
	transform: scale(0);
	opacity: 0;
}
#nav .dropdown.open .dropdown-menu {
	transform: scale(1);
	opacity: 1;
}
#nav .dropdown .dropdown-menu-right {
	transform-origin: top right;
}
.dropdown-menu {
	background-color: #333333;
}
.dropdown-menu>li>a {
	color: #ffffff !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #333333 !important;
	background: linear-gradient(-45deg, #d695ed, #f0a7c3);
}
.input-group-btn .dropdown-menu {
	display: block !important;
	background-color: #333333;
	transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	transform-origin: top left;
	transform: scale(0);
	opacity: 0;
	padding: 8px 0;
}
.input-group-btn.open .dropdown-menu {
	transform: scale(1);
	opacity: 1;
}
.dropdown-menu .divider {
	background-color: #000000;
}
#board-info {
	height: 85px;
	background: #f2f2f2;
}
#board-info>h1 {
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
}
#board-info>a.board-right-menu {
	border-left: none;
	color: #272727;
	padding: 12px 15px;
}
#board-info>h1>#board-info-profile-img {
	position: absolute;
	width: 67px;
	height: 67px;
	line-height: 23px;
	border: 3px solid #e7e7e7;
	border-radius: 50%;
}
#board-info>h1>a {
	margin-left: 70px;
}
#board-info #viewers-area .fa-user::before {
	color: rgba(10,59,84,0);
	content: '';
    display: block;
    width: 19px;
    height: 19px;
    background: url(https://static-cdn.jtvnw.net/badges/v1/7c801e78-6af9-47e0-8752-be3f571f02af/2);
    background-size: 19px 19px;
    background-repeat: no-repeat;
}
#board-info #addFavoriteBtn i {
	color: #efc839 !important;
}
#board-info #viewers-area #viewers {
	color: #757575;
	font-size: 12px;
	font-weight: 700;
	vertical-align: 2px;
}
#board-info #viewers-area #viewers::before {
	content: '마빻단 ';
}
#board-info #viewers-area #viewers::after {
	content: '명 빼꼼~';
}
#article-info {
	border-bottom: 3px solid #ff7777;
}
#article-list {
	line-height: 14px;
}
#article-list #article-list-category {
	border-top: 0px solid #656565;
	background: #e8e8e8;
}
#article-list #article-list-category>a {
	font-size: 13px;
	background: #ffffff;
	border-bottom: 3px solid;
}
#article-list #article-list-category > a.active,#article-list #article-list-category>a:hover {
	background: #656565;
	color: #fff !important;
	border-bottom: 3px solid #333;
}
#article-reply-area > .header h5 {
	color: #3379b7;
}
#article-list>.article-list-row>.item>.list-header>span {
	background-color: transparent;
	color: #63919d;
	border: none;
	padding: 2px 5px 1px;
}
#article-list>.article-list-row>.item>.list-header.v0>span {
	background-color: transparent;
	border: none;
}
#article-list>.article-list-row>.item>.list-title {
	padding: 9px 0;
}
#article-list>.article-list-row>.item>a.list-title:visited {
	color: #858585;
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
	background-color: #ff7777;
	border-color: #ff7777;
}
.pagination>li>a,.pagination>li>span {
	color: #ff7777;
}
#article-list>.article-list-row>.item>.list-title>.list-writer>span {
	width: 150px;
}
.fr-toolbar {
	border-top: 5px solid #d695ed;
	border-style: solid;
	border-image: linear-gradient(-45deg, #d695ed, #f0a7c3, #9ea3e3, #93efd9);
	border-image-slice: 1;
	border-image-width: 5px 0 0 0;
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
	color: #517a84;
	white-space: nowrap;
}
.favo .fa-heart {
	opacity: 0.8;
	color: rgba(0,0,0,0); 
	vertical-align: 2px !important;
	width: 12px;
	height: 12px;
	background: url('../images/heart01.gif');
	background-repeat: no-repeat;
	background-size: 12px;
}
span.a-badge {
	width: 1.3em;
}
span.a-badge i.fa.fa-star {
	opacity: 0.75;
	color: rgba(0,0,0,0);
	vertical-align: 2px !important;
	width: 18px;
	height: 16px;
	background: url('../images/star01.gif');
	background-repeat: no-repeat;
	background-size: 83%;
	background-position: center 2px;
	animation: StarSS 2s infinite;
}
.fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn {
	width: 35px;
}
#article-list>.article-list-row>.item>a.list-title>.title-value {
	max-width: 220px;
}
#article-list>.article-list-row>.item>a.list-title>small.comment-count {
	padding: 0 1px;
	color: #ff7777;
}
#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {
	color: #36575f;
}
#article-list>.article-list-row>.item>.list-time {
    width: 45px;
}
.btn-default {
	background-color: none;
}
footer {
	background: #ffffff;
}
@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@-webkit-keyframes StarSS {
	0% {transform:scale(.75)}
	20% {transform:scale(1)}
	40% {transform:scale(.75)}
	60% {transform:scale(1)}
	80% {transform:scale(.75)}
	100% {transform:scale(.75)}
}
@-moz-keyframes StarSS {
	0% {transform:scale(.75)}
	20% {transform:scale(1)}
	40% {transform:scale(.75)}
	60% {transform:scale(1)}
	80% {transform:scale(.75)}
	100% {transform:scale(.75)}
} 
@keyframes StarSS {
	0% {transform:scale(.75)}
	20% {transform:scale(1)}
	40% {transform:scale(.75)}
	60% {transform:scale(1)}
	80% {transform:scale(.75)}
	100% {transform:scale(.75)}
}
@media (max-width: 380px) {
    #article-list > .article-list-row > .item > a.list-title > .title-value {
        max-width: 180px;
    }
}

@media (max-width: 320px) {
    #article-list > .article-list-row > .item > a.list-title > .title-value {
        max-width: 130px;
    }
}

#article-list-row-7008381{background:linear-gradient(-45deg, #e7ebff, #ffedf4, #e6ffe8, #feffd6)!important;background-size:400% 400% !important;-webkit-animation:Gradient 15s ease infinite;-moz-animation:Gradient 15s ease infinite;animation:Gradient 15s ease infinite;}
#article-list-row-7008381:hover{background:linear-gradient(-45deg, #d1d9ff, #ffd4e5, #c6ffca, #fdffbe)!important;background-size:400% 400% !important;-webkit-animation:Gradient 3s ease infinite;-moz-animation:Gradient 3s ease infinite;animation:Gradient 3s ease infinite;}