::selection {
	background:#ff7777;
	color: #ffffff;
}
::-moz-selection {
	background:#ff7777;
	color: #ffffff;
}
::-webkit-selection {
	background:#ff7777;
	color: #ffffff;
}
header .row>div:nth-child(1)>a {
	display: block;
	width: 178px;
	height: 90px;
	margin-top: 25px;
	background: url('../images/magether_logo.png') no-repeat;
}
body,html {
	height: auto!important;
}
html {
	padding: 60px 45px 45px;
	background-color: #fff;
	background: url('../images/bg.gif') no-repeat;
}
body {
	min-width: 1150px;
	background: #f4f0f4;
}
header .row>div:nth-child(1)>a img {
	opacity: 0;
}
#main .menu-wrapper,#main #main-content>div.frame {
	border: 1px solid #a2a2a2;
}
#main .menu-wrapper>.header {
	background: #e0e0e0;
	color: #717171;
	padding: 9px 12px;
}
#main .menu-wrapper>.header>a {
	color: #717171;
}
#main .menu-wrapper .spacer {
	background: #f3f2f0;
	height: 6px;
	border-top: 2px solid #ebeae8;
}
#main .menu-wrapper>a>em {
	color: #b9b9b9;
}
header #header-bar #header-top-notice strong.notice-badge {
	background: #333333;
}
header #header-bar>.row {
	background: linear-gradient(-45deg, #d695ed, #f0a7c3, #9ea3e3, #93efd9);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	border: none;
	border-top: 4px solid rgba(255, 255, 255, 0);
}
#header-bar .dropdown .dropdown-menu {
	display: block !important;
	background-color: #333333;
	transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	transform-origin: top left;
	transform: scale(0);
	opacity: 0;
}
#header-bar .dropdown.open .dropdown-menu {
	transform: scale(1);
	opacity: 1;
}
#header-bar .dropdown .dropdown-menu-right {
	transform-origin: top right;
}
.dropdown-menu {
	background-color: #333333;
}
.dropdown-menu>li>a {
	color: #ffffff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #333333;
	background: linear-gradient(-45deg, #d695ed, #f0a7c3);
}
.input-group-btn .dropdown-menu {
	display: block !important;
	background-color: #333333;
	transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	transform-origin: top left;
	transform: scale(0);
	opacity: 0;
}
.input-group-btn.open .dropdown-menu {
	transform: scale(1);
	opacity: 1;
}
.dropdown-menu .divider {
	background-color: #000000;
}
#board-info{
	height: 68px;
}
#board-info > img {
	float: left!important;
	margin-right: 10px;
}
#board-info .img-rounded {
	border-radius: 12px;
}
#board-info h1>a {
	font-weight: 700;
}
#board-info #viewers-area .fa-user::before {
	color: rgba(10,59,84,0);
	content: url('https://static-cdn.jtvnw.net/badges/v1/7c801e78-6af9-47e0-8752-be3f571f02af/1');
}
#board-info #viewers-area #viewers {
	color: #757575;
	font-size: 12px;
	font-weight: 700;
	vertical-align: 2px;
}
#board-info #viewers-area #viewers::before {
	content: '마빻단 ';
}
#board-info #viewers-area #viewers::after {
	content: '명 빼꼼~';
}
#article-list {
	line-height: 14px;
}
#article-list #article-list-category {
	border-top: 0px solid #656565;
	background: #e8e8e8;
}
#article-list #article-list-category>a {
	font-size: 13px;
	background: #ffffff;
	border-bottom: 3px solid;
}
#article-list #article-list-category > a.active,#article-list #article-list-category>a:hover {
	background: #656565;
	color: #fff !important;
	border-bottom: 3px solid #333;
}
#article-info>h2 {
	font-weight: 700;
}
#main .menu-wrapper>a {
	padding: 7px 3px;
}
#article-list>.article-list-row>.item>.list-header>span {
	background-color: transparent;
	color: #63919d;
	border: none;
	padding: 2px 5px 1px;
}
#article-list>.article-list-row>.item>.list-header.v0>span {
	background-color: transparent;
	border: none;
}
#article-list>.article-list-row>.item>.list-title {
	padding: 9px 0;
}
#article-list>.article-list-row>.item>.list-title>a {
	max-width: 408px;
}
#article-list>.article-list-row>.item>.list-title>a:visited {
	color: #858585;
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
	background-color: #ff7777;
	border-color: #ff7777;
}
.pagination>li>a,.pagination>li>span {
	color: #ff7777;
}
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
	color: #36575f;
}
#article-list>.article-list-row>.item>.list-title>.list-writer>span {
	width: 150px;
}
header #right-search-form {
	padding: 72px 0 0;
}
header #right-search-form::before {
	position: absolute;
	content: url('https://static-cdn.jtvnw.net/badges/v1/a0a42501-8006-491a-91c3-d512ba8a4157/2');
	top: 41px;
	margin-left: 10px;
	z-index: 1000;
}
header #right-search-form>input[type=text] {
	border: 4px solid #555555;
}
header #right-search-form>#right-search-btn {
	color: #555555;
}
#article-list>.article-list-row>.item>.list-title>small.comment-count {
	padding: 0 4px;
	top: 2px;
	color: #ff7777;
}
#article-content-wrapper>.header {
	border-top: 3px solid #ff7777;
}
#article-reply-area > .header h5 {
	color: #3379b7;
}
.fr-toolbar {
	border-top: 5px solid #d695ed;
	border-style: solid;
	border-image: linear-gradient(-45deg, #d695ed, #f0a7c3, #9ea3e3, #93efd9);
	border-image-slice: 1;
	border-image-width: 5px 0 0 0;
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
	color: #517a84;
	white-space: nowrap;
}
.favo .fa-heart {
	opacity: 0.8;
	color: rgba(0,0,0,0); 
	vertical-align: 2px !important;
	width: 12px;
	height: 12px;
	background: url('../images/heart01.gif');
	background-repeat: no-repeat;
	background-size: 12px;
}
span.a-badge {
	width: 1.3em;
}
span.a-badge i.fa.fa-star {
	opacity: 0.75;
	color: rgba(0,0,0,0);
	vertical-align: 2px !important;
	width: 18px;
	height: 16px;
	background: url('../images/star01.gif');
	background-repeat: no-repeat;
	background-size: 83%;
	background-position: center 2px;
	animation: StarSS 2s infinite;
}
@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@-webkit-keyframes StarSS {
	0% {transform:scale(.75)}
	20% {transform:scale(1)}
	40% {transform:scale(.75)}
	60% {transform:scale(1)}
	80% {transform:scale(.75)}
	100% {transform:scale(.75)}
}
@-moz-keyframes StarSS {
	0% {transform:scale(.75)}
	20% {transform:scale(1)}
	40% {transform:scale(.75)}
	60% {transform:scale(1)}
	80% {transform:scale(.75)}
	100% {transform:scale(.75)}
} 
@keyframes StarSS {
	0% {transform:scale(.75)}
	20% {transform:scale(1)}
	40% {transform:scale(.75)}
	60% {transform:scale(1)}
	80% {transform:scale(.75)}
	100% {transform:scale(.75)}
}

#article-list-row-6749678{background:linear-gradient(-45deg, #e7ebff, #ffedf4, #e6ffe8, #feffd6);background-size:400% 400%;-webkit-animation:Gradient 15s ease infinite;-moz-animation:Gradient 15s ease infinite;animation:Gradient 15s ease infinite;}
#article-list-row-6749678:hover{background:linear-gradient(-45deg, #d1d9ff, #ffd4e5, #c6ffca, #fdffbe)!important;background-size:400% 400% !important;-webkit-animation:Gradient 3s ease infinite;-moz-animation:Gradient 3s ease infinite;animation:Gradient 3s ease infinite;}