::selection {
	background:#58dc89;
	color: #ffffff;
}
::-moz-selection {
	background:#58dc89;
	color: #ffffff;
}
::-webkit-selection {
	background:#58dc89;
	color: #ffffff;
}

/* ======= 메인 ======= */

header .row>div:nth-child(1)>a {
	display: block;
	width: 180px;
	height: 112px;
	margin-top: 25px;
	background: url('./jand_logo2.svg') no-repeat;
}
body, html {
	height: auto !important;
}
html {
	padding: 14px;
}
body {
	background: none;
	min-width: 1140px;
}
body::before {
	content: '';
	position: fixed;
	top:0;
	left:0;
	background: linear-gradient(135deg, #a1d4aa, #c3ecdd);
	width: 100%;
	height: 100%;
	min-width: 1180px;
	border: 14px solid #fff;
	z-index: -1000;
}
header .row>div:nth-child(1)>a img {
	opacity: 0;
}
#main .menu-wrapper,#main #main-content>div.frame {
	border: 0px solid #a2a2a2;
}
#main .menu-wrapper>.header {
	background: #333333;
	color: #ffffff;
	padding: 9px 12px;
	border-top-left-radius: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#main .menu-wrapper>.header>a {
	color: #ffffff;
}
#main .menu-wrapper .spacer {
	background: #f3f2f0;
	height: 6px;
	border-top: 2px solid #ebeae8;
}
#main .menu-wrapper>a>em {
	color: #b9b9b9;
}

/* ======= 헤더 ======= */

header #header-bar #header-top-notice strong.notice-badge {
	background: #333333;
}
header #header-bar>.row {
	background: linear-gradient(45deg, #ffbc85, #ff7854, #ffd954, #ff7b0f);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	border: none;
	border-top: 4px solid rgba(255, 255, 255, 0);
	border-radius: 25px;
}
#header-bar .dropdown .dropdown-menu {
	display: block !important;
	background-color: #333333;
	transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	transform-origin: top left;
	transform: scale(0);
	opacity: 0;
}
#header-bar .dropdown.open .dropdown-menu {
	transform: scale(1);
	opacity: 1;
}
#header-bar .dropdown .dropdown-menu-right {
	transform-origin: top right;
}
.dropdown-menu {
	background-color: #333333;
}
.dropdown-menu>li>a {
	color: #ffffff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #333333;
	background: linear-gradient(45deg, #caf0a7, #4cda99);
}
.input-group-btn .dropdown-menu {
	display: block !important;
	background-color: #333333;
	transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	transform-origin: top left;
	transform: scale(0);
	opacity: 0;
}
.input-group-btn.open .dropdown-menu {
	transform: scale(1);
	opacity: 1;
}
.dropdown-menu .divider {
	background-color: #000000;
}
.delrow:hover {
	background: none !important;
    color: #000000 !important;
}
header #right-search-form {
	padding: 72px 0 0;
}
header #right-search-form>input[type=text] {
	border: 6px solid #ffffff;
	color: #ffffff;
	background: #333333;
}
header #right-search-form>#right-search-btn {
	color: #ffffff;
	font-size: 24px;
}
header #header-bar #header-menu-right {
	white-space: nowrap;
}
/* ======= 게시판상단 ======= */

#board-info{
	height: 68px;
}
#board-info > img {
	float: left!important;
	margin-right: 10px;
}
#board-info .img-rounded {
	border-radius: 12px;
}
#board-info h1>a {
	font-weight: 700;
	transition: all 150ms ease-in-out;
}
#board-info h1>a:hover {
	color: #3aa766;
}
#board-info>h1 .badge-success {
	background-color: #3aa766;
}
#board-info h1>a::before {
	content: '';
    background: url(https://static-cdn.jtvnw.net/jtv_user_pictures/7fb1c2ca-ea1c-4a33-917d-5d9093e53783-profile_image-300x300.png) no-repeat;
	background-size: 85px 85px;
    width: 85px;
    height: 85px;
    position: absolute;
    left: 6px;
    top: -8px;
    margin-top: 0;
    z-index: 100;
    border: 5px solid #fff;
    border-top-left-radius: 15%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
#board-info>h1>a.badge-live::before {
	display:none;
}
#board-info #viewers-area .fa-user::before {
	color: rgba(10,59,84,0);
	content: url(https://static-cdn.jtvnw.net/badges/v1/0fbabbdd-7c1f-4662-9ef9-7ab099133a4f/1);
}
#board-info #viewers-area #viewers {
	color: #3aa766;
	font-size: 12px;
	font-weight: 700;
	vertical-align: 2px;
}
#board-info #viewers-area #viewers::before {
	content: '잔빡이 ';
}
#board-info #viewers-area #viewers::after {
	content: '명 빼꼼';
}
#board-info #board-info-profile-img {
	display: none;
}
#board-info h1 {
    padding-left:65px;
}
#board-info #board-info-bottom {
    padding-left:65px;
}

/* ======= 게시글 ======= */

#article-list {
	line-height: 14px;
	padding: 0 0 2em;
}
#article-list #article-list-category {
	border-top: 0px solid #656565;
	background: #e8e8e8;
}
#article-list #article-list-category>a {
	font-size: 13px;
	background: #ffffff;
	border-bottom: 3px solid;
}
#article-list #article-list-category > a.active,#article-list #article-list-category>a:hover {
    background: #82bf60;
    color: #ffffff !important;
    border-bottom: 3px solid #5e9233;
}
#article-info>h2 {
	font-weight: 700;
}
#main .menu-wrapper>a {
	padding: 7px 3px;
}
#article-list>.article-list-row {
	border-right: 0px;
}
#article-list>.article-list-row>.item>.list-header>span {
	background-color: transparent !important;
	color: #63919d;
	border: none;
	padding: 2px 5px 1px;
}
#article-list>.article-list-row>.item>.list-header.v0>span {
	background-color: transparent !important;
	border: none;
}
#article-list>.article-list-row>.item>.list-title>a {
	max-width: 360px;
}
#article-list>.article-list-row>.item>.list-title>a:visited {
	color: #858585 !important;
}
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
	color: #568895;
}
#article-list>.article-list-row>.item>.list-title>.list-writer>span {
	width: 165px;
	height: 19px;
}
#article-list>.article-list-row>.item>.list-title>.list-writer>span img {
	vertical-align: bottom;
}
#article-list>.article-list-row>.item>.list-title>small.comment-count {
	padding: 0 4px;
	top: 2px;
	color: #ff7777;
}
#article-content-wrapper>.header {
	border-top: 3px solid #44a324;
}
#article-reply-area > .header h5 {
	color: #3379b7;
}
#board-info #board-info-bottom a {
	color: #333333;
}
.fr-toolbar {
	border-top: 5px solid #d695ed;
	border-style: solid;
	border-image: linear-gradient(45deg, #82de64, #d5ff54, #e5ff54, #a2de0e);
	border-image-slice: 1;
	border-image-width: 5px 0 0 0;
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
	color: #517a84;
	white-space: nowrap;
}
#article-list>.article-list-row.hot>.item div,
#article-list>.article-list-row.hot>.item a,
#article-list>.article-list-row.notice>.item div,
#article-list>.article-list-row.notice>.item a {
    border-bottom: 0px;
}
#article-list>.article-list-row.hot {
    background-color: #f3f8ff;
    border-top: 1px solid #8ab7ff;
    border-bottom: 1px solid #8ab7ff;
    -webkit-animation: ColorB 5s infinite;
    -moz-animation: ColorB 5s infinite;
    animation: ColorB 5s infinite;
}
#article-list>.article-list-row.notice {
	background-color: #f5fbff;
    border-top: 1px solid #b8deff;
}
#article-list>.article-list-row.hot>.item>.list-header>strong,
#article-list>.article-list-row.hot>.item>.list-header>b,
#article-list>.article-list-row.hot>.item>.list-title>.list-category>span,
#article-list>.article-list-row.hot>.item>.list-title>.list-writer.logged>span,
#article-list>.article-list-row.hot>.item>.list-title>.a-badge>i.fa.fa-commenting-o,
#article-list>.article-list-row.hot>.item>.list-title>small.comment-count,
#article-list>.article-list-row.hot>.item>.list-time,
#article-list>.article-list-row.hot>.item>.list-title>a,
#article-list>.article-list-row.hot>.item>.list-title>a:visited {
	color: #448bff;
	-webkit-animation: ColorA 5s infinite;
	-moz-animation: ColorA 5s infinite;
	animation: ColorA 5s infinite; 
}
#article-list>.article-list-row.hot>.item>.list-title>.list-category,
#article-list>.article-list-row.hot>.item>.list-title>.list-writer,
#article-list>.article-list-row.hot {
	border-left: 0;
	border-right: 0;
}
#article-list>.article-list-row>.item>.list-title>.list-writer {
	text-align: right;
	border-left: 0;
}
.fa-share:before {
	content: "└";
}
#article-list>.article-list-row>.item>.list-checkbox,
#article-list>.article-list-row>.item>.list-header,
#article-list>.article-list-row>.item>.list-category,
#article-list>.article-list-row>.item>.list-title,
#article-list>.article-list-row>.item>.list-blocked,
#article-list>.article-list-row>.item>.list-time {
	padding: 11px 0 9px;
	vertical-align: top;
}
#article-list #article-list-menu>.btn.best {
	margin-left: 20px;
}
#article-list #article-list-menu>.btn.btn-primary {
	margin-right: 20px;
}
.pagination>li>a, .pagination>li>span {
	color: #5cad5e;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #5cad5e;
    border-color: #5cad5e;
}
#article-list>.article-list-row>.item>.list-title>small.favo {
	color: #98e282;
}
#article-list #article-list-menu>.btn.cog {
	left: 105px;
}

/* ======= 효과 ======= */

@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
@-webkit-keyframes StarSS {
	0% {transform:scale(.75)}
	20% {transform:scale(1)}
	40% {transform:scale(.75)}
	60% {transform:scale(1)}
	80% {transform:scale(.75)}
	100% {transform:scale(.75)}
}
@-moz-keyframes StarSS {
	0% {transform:scale(.75)}
	20% {transform:scale(1)}
	40% {transform:scale(.75)}
	60% {transform:scale(1)}
	80% {transform:scale(.75)}
	100% {transform:scale(.75)}
} 
@keyframes StarSS {
	0% {transform:scale(.75)}
	20% {transform:scale(1)}
	40% {transform:scale(.75)}
	60% {transform:scale(1)}
	80% {transform:scale(.75)}
	100% {transform:scale(.75)}
}
@-webkit-keyframes ColorA {
	0%{color: #67a6ff;}
	20%{color: #ef6ee5;}
	40%{color: #ff897a;}
	60%{color: #97c566;}
	100%{color: #67a6ff;}
}
@-moz-keyframes ColorA {
	0%{color: #67a6ff;}
	20%{color: #ef6ee5;}
	40%{color: #ff897a;}
	60%{color: #97c566;}
	100%{color: #67a6ff;}
}
@keyframes ColorA {
	0%{color: #67a6ff;}
	20%{color: #ef6ee5;}
	40%{color: #ff897a;}
	60%{color: #97c566;}
	100%{color: #67a6ff;}
}
@-webkit-keyframes ColorB {
	0%{border-color: #67a6ff;background-color: #e4efff;}
	20%{border-color: #ef6ee5;background-color: #ffecfe;}
	40%{border-color: #ff897a;background-color: #ffefed;}
	60%{border-color: #97c566;background-color: #f1ffe2;}
	100%{border-color: #67a6ff;background-color: #e7f1ff;}
}
@-moz-keyframes ColorB {
	0%{border-color: #67a6ff;background-color: #e4efff;}
	20%{border-color: #ef6ee5;background-color: #ffecfe;}
	40%{border-color: #ff897a;background-color: #ffefed;}
	60%{border-color: #97c566;background-color: #f1ffe2;}
	100%{border-color: #67a6ff;background-color: #e7f1ff;}
}
@keyframes ColorB {
	0%{border-color: #67a6ff;background-color: #e4efff;}
	20%{border-color: #ef6ee5;background-color: #ffecfe;}
	40%{border-color: #ff897a;background-color: #ffefed;}
	60%{border-color: #97c566;background-color: #f1ffe2;}
	100%{border-color: #67a6ff;background-color: #e7f1ff;}
}

/* ======= 타겟 ======= */

/* ======= 알림 ======= */
.alertify-logs>.show {
margin-bottom: 3px;
max-width: 280px;
padding: 15px 20px;
border-radius: 22px;
font-weight: 700;
}